
body {
    background-color: rgba(66, 129, 212, 0.274);
}


.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(19, 73, 134, 0.493);
    border-radius: 15%;
  
  }
  
  .weather-card h3 {
    margin: 0;
    color: rgb(3, 110, 211);
  }
  
  .weather-card p {
    margin-bottom: 5px;
    color: aliceblue;
    text-shadow: 0.2px blue;
  }
  .current-weather {
    width: 100%;
  }
  
  .five-day-weather-card {
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .five-day-weather-card .weather-card {
    width: 20%;
   

  }
  
  /* Media query for small screens (mobile) */
  @media (max-width: 768px) {
    .weather-card {
      width: 90%;
    }
  }
  
  .weather-header {
    color: rgb(252, 252, 252);
    background-image: url('./clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    height: 200 px;
  }
  
  #weather-title {
    text-shadow: rgba(0, 0, 0, 0.918) 2px 2px 2px;
  }
  
  #form-heading {
    color: rgb(3, 110, 211);
  }
  
  .btn {
    margin: 5px 1px;
    border-radius: 12px;
  }
  
  .weather-card img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    align-items: flex-end;
  }
  
  .five-day-weather-card {
    width: 33%;
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .five-day-weather-card .weather-card {
    width: 20%;
    margin: 0 10px;
  }
  
  /* Media query for small screens (mobile) */
  @media (max-width: 768px) {
    .weather-card {
      width: 90%;
    }
  }